.CreateNavBar {
  width: 555px;
  display: flex;
  margin-top: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.NavBarBtn {

  width: 100%;
  height: 55px;
  border: none;
  background: none;
  font-size: 1.4rem;
  background: #1a1a1b;
  border-right: 1px solid #343536;
  border-bottom: 1px solid #343536;

  .NavBarBtnIcon {
    margin-right: 15px;
  }
}

.NavBarBtn:nth-last-child(1) {
  border-right: none;
}

.active {
  color: #d7dadc;
}

.inactive {
  color: #818384;
}