.FrontPage {
  display: flex;
  justify-content: center;
}

.SideBarPost {
  width: 300px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-family: 'Roboto';
  background-color: #1A1A1B;
  border: 1px solid rgb(73, 73, 73);
}

.sideBarCummunities {
  .trendingCummunitiesBanner {
    font-size: 14px;
    font-weight: 500;
    color: #818384;
    line-height: 18px;
    letter-spacing: 0.5px;
    padding: 12px;
  }
  .cummunites {
    padding: 12px;
  }
}

.cummunityItem {
  display: flex;
  padding-bottom: 14px;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: azure;
  }
  
  .cummunityItemRight {
    width: 100%;
    display: flex;
    font-family: 'Roboto';
    justify-content: space-between;
    a {
      color: white;
      max-width: 8ch;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      text-overflow: ellipsis;
    }
    button {
      height: 32px;
      width: 106px;
      border: none;
      font-size: 16px;
      font-weight: 500;
      padding: 4px 16px;
      border-radius: 29px;
    }
    button:hover {
      background-color: rgb(218, 218, 218);
    }
  }

  .cummunityItemRightDetails {
    color: white;
    font-size: 13px;
    padding-left: 12px;
    max-width: 18ch;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
  }
}

.cummunityItem:nth-last-child() {
  padding-bottom: 0px;
}

.sideBarCreateOptions {
  p {
    color: white;
    font-size: 14px;
    padding-top: 12px;
    line-height: 21px;
    font-family: Arial;
    padding-left: 12px;
    padding-right: 12px;
  }
  .SideBarBanner {
    height: 50px;
    display: flex;
    color: white;
    font-size: 34px;
    font-weight: 600;
    line-height: 50px;
    font-family: Arial;
    padding-left: 24px;
    align-items: center;
    justify-content: flex-start;
    background-image: url('https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png');
  }
  .SideBarBanner span {
    max-width: 390px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .createButtonsContainer {
    display: flex;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    flex-direction: column;
    .CreateButton {
      width: 286px;
      padding: 8px;
      color: #1A1A1B;
      font-size: 14px;
      margin-top: 12px;
      font-weight: 600;
      text-align: center;
      align-self: center;
      font-family: Arial;
      align-items: center;
      border-radius: 20px;
      text-decoration: none;
      background-color: white;
      border: 2px solid white;
    }
    .CreateButton:hover {
      border: 2px solid rgb(218, 218, 218);
      background-color: rgb(218, 218, 218);
    }
    .CreateButton:nth-child(2) {
      color: white;
      background-color: #1A1A1B;
    }
    .CreateButton:nth-child(2):hover {
      color: white;
      background-color: #252527;
    }
  }
}