.FrontPage {
  display: flex;
  justify-content: center;
}

.SideBarPost {
  width: 300px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-family: 'Roboto';
  background-color: #1A1A1B;
  border: 1px solid rgb(73, 73, 73);
}

.sideBarCummunities {
  .trendingCummunitiesBanner {
    font-size: 14px;
    font-weight: 500;
    color: #818384;
    line-height: 18px;
    letter-spacing: 0.5px;
    padding: 12px;
  }
  .cummunites {
    padding: 12px;
  }
}

.cummunityItem {
  display: flex;
  padding-bottom: 14px;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: azure;
  }
  
  .cummunityItemRight {
    width: 100%;
    display: flex;
    font-family: 'Roboto';
    justify-content: space-between;
    a {
      color: white;
      max-width: 8ch;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      text-overflow: ellipsis;
    }
  }

  .cummunityItemRightDetails {
    color: white;
    font-size: 13px;
    padding-left: 12px;
    max-width: 18ch;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
  }
}

.cummunityItem:nth-last-child() {
  padding-bottom: 0px;
}

.sideBarCreateOptions {
  p {
    color: white;
    font-size: 14px;
    padding-top: 12px;
    line-height: 21px;
    font-family: Arial;
    padding-left: 12px;
    padding-right: 12px;
  }
  .SideBarBanner {
    height: 50px;
    display: flex;
    color: white;
    font-size: 34px;
    font-weight: 600;
    line-height: 50px;
    font-family: Arial;
    padding-left: 24px;
    align-items: center;
    justify-content: flex-start;
    background-image: url('https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png');
  }
  .SideBarBanner span {
    max-width: 390px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .createButtonsContainer {
    display: flex;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    flex-direction: column;
    .CreateButton {
      width: 286px;
      padding: 8px;
      color: #1A1A1B;
      font-size: 14px;
      margin-top: 12px;
      font-weight: 600;
      text-align: center;
      align-self: center;
      font-family: Arial;
      align-items: center;
      border-radius: 20px;
      text-decoration: none;
      background-color: white;
      border: 2px solid white;
    }
    .CreateButton:hover {
      border: 2px solid rgb(218, 218, 218);
      background-color: rgb(218, 218, 218);
    }
    .CreateButton:nth-child(2) {
      color: white;
      background-color: #1A1A1B;
    }
    .CreateButton:nth-child(2):hover {
      color: white;
      background-color: #252527;
    }
  }
}

.CreatePost {
  padding: 8px;
  display: flex;
  max-height: 64px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  input {
    width: 100%;
    border: none;
    margin: 10px;
    height: 36px;
    padding: 10px;
    outline: none;
    color: white;
    border-radius: 4px;
    background: #272729;
    border: 1px solid rgb(73, 73, 73);
  }
  .CreatePostIcon {
    color: rgb(204, 204, 204);
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}

.CreatePost:hover {
  border: 1px solid rgb(73, 73, 73);
}

.CreatePost input:hover {
  border: 1px solid white;
}

.JoinBTN {
  height: 32px;
  width: 94px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 16px;
  border-radius: 29px;
  border: 1px solid rgb(255, 255, 255);
}
.JoinBTN:hover {
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(218, 218, 218);
}
.JoinedBTN {
  height: 32px;
  width: 94px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 16px;
  border-radius: 29px;
  background-color: #1A1A1B;
  border: 1px solid rgb(255, 255, 255);
}

.viewAll {height: 32px;width: 274px;border: none;font-size: 16px;font-weight: 600;padding: 4px 16px;border-radius: 29px;background-color: white;border: 1px solid rgb(255, 255, 255)}
.viewAll:hover {border: 1px solid rgb(218, 218, 218);background-color: rgb(218, 218, 218)}

@media only screen and (max-width: 930px)  {
  .Posts {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .Post {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    min-width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .SideBar {
    display: none;
  }
  .Post .postBody .lazyload-wrapper {
    border-radius: 0px;
  }
}

.JoinedBTN:hover span {display: none}
.JoinedBTN:hover:before {content: "Leave"}
.JoinedBTN:hover {background-color: #202020}