.Post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1A1A1B;
  border-radius: 8px;
  border: 1px solid rgb(73, 73, 73);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 560px;
  min-width: 560px;
  font-family: 'Roboto';
  .postTop {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 13px;
    padding-bottom: 5px;
    justify-content: space-between;
    .optionsMenu {
      position: relative;
      display: inline-block;
      margin-right: 13px;
      .optionsButton {
        border: none;
        display: flex;
        outline: none;
        font-size: 17px;
        color: #818384;
        background: none;
        padding-left: 20px;
        justify-content: flex-start;
      }
      .optionsMenuContent {
        z-index: 1;
        display: flex;
        min-width: 100px;
        position: absolute;
        border-radius: 8px;
        flex-direction: column;
        background-color: #f1f1f1;
        background-color: rgba(19, 18, 18, 0.986);
      }
      .optionsMenuContent button {
        border: none;
        height: 40px;
        outline: none;
        padding: 10px;
        color: white;
        background: none;
      }
      .optionsMenuContent button:hover {
        color: rgb(71, 130, 185);
      }
    }
    .topContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      .top {
        display: flex;
        align-items: center;
        max-height: 20px;
        h4 {
          margin: 0;
          font-size: 12px;
          color: #818384;
          font-weight: 400;
        }
      }
      .bottom {
        max-height: 20px;
        h3 {
          margin: 0;
          color: white;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.6px;
        }
      }
    }
  }
  .voteCount {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    p {
      margin: 7px;
      color: white;
    }
    button {
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      font-size: 26px;
      border: none;
      outline: none;
    }
    button:hover {
      transition: 0.2s ease;
      transform: scale(1.1);
    }
  }
  .postBody {
    padding: 9px;
    //Since the Laxy load is treated as a div
    //I have to change .postImage to .lazyload-wrapper
    .lazyload-wrapper {
      max-width: 512px;
      max-height: 514px;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      border-radius: 8px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .bottomPostContainer {
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 9px;
    .postBottomIcon {
      margin-right: 0.5rem;
    }
    .postBottomButtons {
      border: none;
      outline: none;
      color: #818384;
      background: none;
      font-weight: 600;
      font-size: 0.9rem;
      margin-right: 1rem;
      letter-spacing: 0.05rem;
    }
  }
}

.joinPlaces {
  width: 560px;
  height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background-color: #ff4500;
  h3 {
    color: white;
    font-weight: 300;
    font-family: 'Roboto';
  }
}

.linkContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  a {
    max-width: 310px;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .linkPlaceholder {
    width: 90px;
    display: flex;
    height: 90px;
    color: white;
    font-size: 25px;
    margin-right: 5px;
    border-radius: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    .linkTinySqr {
      right: 0;
      bottom: 0;
      font-size: 13px;
      color: #1a1a1b;
      border-radius: 4px;
      position: absolute;
      background-color: white;
      border: 3px solid white;
      transform: translateX(2px) translateY(2px);
    }
  }
}

.notLiked {
  color: #818384;
}

.notLiked:hover {
  color: #ff4500;
}

.liked {
  color: #ff4500;
}

.liked:hover {
  color: #9494ff;
}

.Post:hover {
  border: 1px solid white;
}