.SubBanner {
  display: flex;
  color: white;
  font-family: 'Roboto';
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1b;
  transform: translateY(-30px);

  .SubBackGround {
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 14rem;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .SubMainBar {
    height: 80px;
    display: flex;
    width: 100%;
    max-width: 1000px;
    min-width: 600px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    img {
      width: 85px;
      height: 85px;
      border-radius: 50%;
      margin-right: 30px;
      transform: translateY(-20px);
      border: 4px solid white;
    }
  }

  .SubBarHandles {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 28px;
      font-weight: 500;
      margin-right: 10px;
    }
    p {
      font-size: 14px;
      color: #818384;
    }
  }

  .SubBarHandleTop {
    display: flex;
  }
}

.SubPosts {
  display: flex;
  justify-content: center;
}